<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
<div class="container position-absolute top-50 start-50 translate-middle">
    <hr class="mb-4">
    <h2 class="text-center">회원 가입</h2>
    <br>
    <form th:object="${memberDto}" method="post">
        <div class="d-grid gap-2 col-6 mx-auto">
            <label for="name" class="form-label">이름</label>
            <input type="text" id="name" class="w-100 form-control" placeholder="2~20자의 영문 소문자, 숫자, 한글만 사용 가능합니다. 앞뒤의 공백은 제거됩니다." th:field="*{name}">
            <div th:errors="*{name}"></div>

            <label for="loginId" class="form-label">로그인 id</label>
            <input type="text" id="loginId" class="w-100 form-control" placeholder="5~20자의 영문 소문자, 숫자만 사용 가능합니다. 공백은 허용되지 않습니다." th:field="*{loginId}">
            <div th:errors="*{loginId}"></div>

            <label for="password" class="form-label">비밀번호</label>
            <input type="password" id="password" class="w-100 form-control" placeholder="5~20자의 영문 소문자, 숫자만 사용 가능합니다. 공백은 허용되지 않습니다." th:field="*{password}">
            <div th:errors="*{password}"></div>

            <label for="checkPassword" class="form-label">비밀번호 확인</label>
            <input type="password" id="checkPassword" class="w-100 form-control" th:field="*{checkPassword}">
            <div th:errors="*{checkPassword}"></div>
        </div>

        <div class="m-5 row">
            <div class="col"></div>
            <div class="col-4">
                <button class="w-100 btn btn-success btn-lg" type="submit">회원 가입</button>
            </div>
            <div class="col-4">
                <button class="w-100 btn btn-outline-secondary btn-lg" type="button"
                        onclick="location.href='index.html'"
                        th:onclick="|location.href='@{/}'|">취소
                </button>
            </div>
            <div class="col"></div>
        </div>
    </form>
    <hr class="mt-4">
</div>
</body>
</html>