<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
<div class="container position-absolute top-50 start-50 translate-middle">
    <hr class="mb-4">
    <h2 class="text-center">홈 화면</h2>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="w-100 btn btn-secondary btn-lg" type="button"
                th:onclick="|location.href='@{/add}'|">
            회원 가입
        </button>
        <button class="w-100 btn btn-secondary btn-lg" th:unless="${session.loginMember}"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/login}'|" type="button">
            로그인
        </button>
        <button class="w-100 btn btn-secondary btn-lg" th:if="${session.loginMember}"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/todo}'|" type="button">
            할 일
        </button>
    </div>
    <hr class="mt-4">
</div> <!-- /container -->
</body>
</html>